<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <div class="container-fluid d-flex flex-column align-items-center mt-3">
        <h1 class="my-3">Edit your profile course</h1>

        <form class="mt-3 col-5" action="/editProfile/<%= profile.id %>" method="post">
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control border-secondary" name="firstName" value="<%= profile.firstName %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control border-secondary" name="lastName" value="<%= profile.lastName %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Date of Birth</label>
                <input type="date" class="form-control border-secondary" name="dateOfBirth" value="<%= profile.formatDOB %>">
            </div>
            <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-control border-secondary" name="gender">
                    <option value="" selected>Choose your Gender</option>
                    <option value="male" <%= profile.gender === 'male' ? 'selected' : '' %>> Male </option>
                    <option value="female" <%= profile.gender === 'female' ? 'selected' : '' %>> Female </option>
                </select>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-warning">Save Profile</button>
            </div>
        </form>
    </div>
    <%- include('partials/_boostraps') %>
</body>
</html>