<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid d-flex flex-column align-items-center mt-3">
          <span class="navbar-brand fs-3 fw-bold mb-0 h1">Come teach with us</span>
        </div>
    </nav> <br> <br>
    <div class="d-flex justify-content-around">
        <a href="/profile" type="button" class="btn btn-primary">Go to Profile</a>
        <a href="/addCourse" type="button" class="btn btn-warning">Add Course</a>
        <a href="/listUserCourse" type="button" class="btn btn-warning">List User-Course</a>
        <a href="/logout" type="button" class="btn btn-danger">Log out</a>
    </div> <br> <br>
    <form action="" style="margin-left: 10%;">
        <input type="search" class="form-control" style="width: 400px;" name="search" id="" placeholder="<%= search ? search : 'Search course name...' %>">
        <button class="btn btn-outline-warning" type="submit">🔎</button>
    </form>
    <!-- Notif Deleted -->
    <div class="d-flex justify-content-center">
        <% if (deleted) { %>
            <p style="color: red;"> <%= deleted %> PACKAGE COURSES HAS BEEN DELETED</p>
        <% } %>
    </div>
    <% if (error) { %>
        <div class="alert alert-warning alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Warning!</strong> <%= error %>.
          </div>
    <% } %>
    <!-- Courses Cards -->
    <div class="container" style="text-align: center; margin: 3%;">
        <h2><strong><%= greeting %></strong></h2>
    </div>
    <!-- <div>
        See by Category:
        <a href="<%#= category %>"  type="button" class="btn btn-outline-danger"> Kategori </a>
    </div> -->
    <div class="container-fluid" style="align-content: center;">
        <div class="d-flex align-content-around flex-wrap">
            <% course.forEach(el => { %>
                <div class="card" style="width: 18rem; margin: 2%;">
                    <img src="<%= el.imageURL %>" class="card-img-top">
                    <div class="card-body">
                        <input type="hidden" name="<%= id %>">
                        <h3 class="card-title"><%= el.name %></h3>
                        <h4 class="card-title">#<%= el.Category.name %></h4>
                        <p class="card-text"><%= el.description %></p>
                        <ul class="list-group list-group-flush">
                            <label>Rating Course :</label>
                            <div>
                                <%= el.rating %>
                            </div>
                        </ul>
                        <div class="card-body">
                            <a href="/takeCourse/<%= el.id %>" type="button" class="btn btn-outline-warning"> Take Course</a>
                            <a href="/deleteCourse/<%= el.id %>" type="button" class="btn btn-outline-danger"> Delete Course</a>
                        </div>
                    </div>
                </div>
            <% }) %>    
        </div>
    </div>    
    <%- include('partials/_boostraps') %>
</body>
</html>