<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class="container-fluid d-flex flex-column align-items-center mt-3">
        <h1 class="my-3">Your Courses Dashboard Profile</h1>
    </div> <br> <br>
    <div class="container-fluid">
        <div class="d-flex justify-content-end">
         <a href="/logout" type="button" class="btn btn-danger">Log out</a>
        </div> <br> <br>
        <div class="d-flex justify-content-between">
            <!-- Untuk mengecek apakah sudah ada profile atau belum -->
            <% if (!profile) { %>
                <a href="/addProfile" type="button" class="btn btn-primary">Add Profile</a>
            <% } else { %>
            <div class="container-fluid">
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Gender</th>
                        <th class="text-center">Action</td>
                    </thead>
                        <tbody>
                            <th><%= profile.fullname() %></td>
                            <td><%= formatDate(profile.dateOfBirth) %></td>
                            <td><%= profile.gender %></td>
                            <td class="text-center">
                                <div class="row">
                                    <a href="/editProfile/<%= profile.id %>" type="button" class="btn btn-warning">Edit Profile</a>
                                </div>
                            </td>
                        </tbody>
                </table>
            </div>    
            <% } %>
        </div>
    </div>
    <br> <br>
    <div>
        <a href="/profile/getInvoice" type="button" class="btn btn-outline-warning"> Get Invoice </a>
    </div>
    <!-- Courses Cards -->
    <div class="container-fluid">
        <div class="d-flex align-content-around flex-wrap">
            <% course.forEach(el => { %>
                <div class="card" style="width: 18rem;">
                    <img src="<%= el.imageURL %>" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title"><%= el.name %></h3>
                        <h4 class="card-title"><%= el.Category.name %></h4>
                        <p class="card-text"><%= el.description %></p>
                        <ul class="list-group list-group-flush">
                            <label>Rating Course :</label>
                            <div>
                                <%= el.rating %> ⭐
                            </div>
                        </ul>
                        <div class="card-body">
                            <% if (el.rating === 0) { %>
                                <a href="/addRate/<%= el.id %>" type="button" class="btn btn-outline-warning"> (+) Rating Course</a>
                            <% } else if (el.rating === 10) {%>
                                <a href="/decreaseRate/<%= el.id %>" type="button" class="btn btn-outline-danger"> (-) Rating Course</a>
                            <% } else { %>
                            <a href="/addRate/<%= el.id %>" type="button" class="btn btn-outline-warning"> (+) Rating Course</a>
                            <a href="/decreaseRate/<%= el.id %>" type="button" class="btn btn-outline-danger"> (-) Rating Course</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>    
        </div>
    </div>
    <%- include('partials/_boostraps') %>
</body>
</html>